<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You have sent an Egift Card worth <%=@egift_card.currency %> <%= @egift_card.original_value%> to <%= @egift_card.recipient_email %>
      with the following message :
    </p>

    <p>
      <%= @egift_card.message %>
    </p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>